@CHARSET "UTF-8";
#main .orderListInfo{
	width: 98%;
	margin: auto;
	height: 600px;
}
.orderListInfo img {
	margin-top: 10px;
	margin-bottom: 20px;
}
.orderListInfo table{
	width: 100%;
}
.orderListInfo table td{
	text-align: center;
}